In [109]:
import pandas as pd
df=pd.read_csv("Z:\pizza_price_prediction_5thquestion.csv")
df

,company,price_cad,diameter,topping,variant,size,extra_sauce,extra_cheese,extra_mushrooms
0,A,$29,22 inch,chicken,double_signature,jumbo,yes,yes,no
1,A,$25,20 inch,papperoni,double_signature,jumbo,yes,yes,no
2,A,$19,16 inch,mushrooms,double_signature,reguler,yes,yes,yes
3,A,$22,14 inch,smoked_beef,double_signature,reguler,yes,no,yes
4,A,$30,18 inch,mozzarella,double_signature,jumbo,yes,no,yes
...,...,...,...,...,...,...,...,...,...
124,E,$11,8.5 inch,tuna,spicy tuna,small,yes,yes,yes
125,E,$14,12 inch,tuna,spicy tuna,medium,yes,yes,yes
126,E,$17,14 inch,tuna,spicy tuna,large,yes,yes,yes
127,E,$12,8.5 inch,meat,BBQ_meat_fiesta,small,yes,no,yes
128,E,$15,12 inch,meat,BBQ_meat_fiesta,medium,no,no,yes

In [110]:
df.isnull().sum().sum()

0

In [111]:
i=[0,1,2,3,4]
print(i[1:])

[1, 2, 3, 4]

In [112]:
df['price_card'] = [int(i[1:]) for i in df['price_cad']]
df.groupby('company')['price_card'].mean()

company
A    19.600
B    14.375
C    13.800
D    16.600
E    14.400
Name: price_card, dtype: float64

In [113]:
df.iloc[[0]]

,company,price_cad,diameter,topping,variant,size,extra_sauce,extra_cheese,extra_mushrooms,price_card
0,A,$29,22 inch,chicken,double_signature,jumbo,yes,yes,no,29

In [114]:
df.groupby(["diameter","company"]).filter(lambda x:x['variant'].nunique()>1)["company"].unique()

array(['A', 'B', 'C', 'D', 'E'], dtype=object)

In [115]:
import matplotlib.pyplot as plt

pi= df["company"].value_counts()
pi
x=plt.bar(pi,x="ee",y="r")
x.show()

TypeError: bar() got multiple values for argument 'x'

In [116]:
print("Total no.of null values: ", df.isnull().sum().sum())

Total no.of null values:  0

In [117]:
df.rename(columns={'price_cad':'price'})

,company,price,diameter,topping,variant,size,extra_sauce,extra_cheese,extra_mushrooms,price_card
0,A,$29,22 inch,chicken,double_signature,jumbo,yes,yes,no,29
1,A,$25,20 inch,papperoni,double_signature,jumbo,yes,yes,no,25
2,A,$19,16 inch,mushrooms,double_signature,reguler,yes,yes,yes,19
3,A,$22,14 inch,smoked_beef,double_signature,reguler,yes,no,yes,22
4,A,$30,18 inch,mozzarella,double_signature,jumbo,yes,no,yes,30
...,...,...,...,...,...,...,...,...,...,...
124,E,$11,8.5 inch,tuna,spicy tuna,small,yes,yes,yes,11
125,E,$14,12 inch,tuna,spicy tuna,medium,yes,yes,yes,14
126,E,$17,14 inch,tuna,spicy tuna,large,yes,yes,yes,17
127,E,$12,8.5 inch,meat,BBQ_meat_fiesta,small,yes,no,yes,12
128,E,$15,12 inch,meat,BBQ_meat_fiesta,medium,no,no,yes,15

In [118]:
df.groupby('variant')['company'].nunique()

variant
BBQ_meat_fiesta      2
BBQ_sausage          1
american_classic     1
american_favorite    1
classic              3
crunchy              3
double_decker        3
double_mix           2
double_signature     1
extravaganza         1
gournet_greek        1
italian_veggie       1
meat_eater           1
meat_lovers          2
neptune_tuna         1
new_york             3
spicy tuna           1
spicy_tuna           1
super_supreme        1
thai_veggie          1
Name: company, dtype: int64

In [128]:
x=max(df['price_card'])
df[df['price_card']==x]

KeyError: 30

In [125]:
df[x]

KeyError: 30